!!!
%html
  %head
    = javascript_include_tag 'application'
    %link{:rel => "stylesheet", :href => "/css/bootstrap.css"}
    %link{:rel => "stylesheet", :href => "/css/bootstrap-responsive.css"}
    %script{:type => "text/javascript", :src => "/javascript/bootstrap-tab.js", :charset => "utf-8"}

  %body
    -# Generate HTML here.
    .container-fluid
      .row-fluid
        .span10
          %br
            = yield
        .span2